/AprendiendoHerencia/nbproject/private/
/HackerRank/nbproject/private/
/HackerRank/build/
/AprendiendoHerencia/build/
/EjercicioHerencia/nbproject/private/
/EjercicioHerencia/build/
/Polimorfismo/nbproject/private/
/PolimorfismoSeleccionFutbol/nbproject/private/
/PolimorfismoFiguras/nbproject/private/
/PolimorfismoSeleccionFutbol/build/
/HerenciaElectrodomestico/build/
/HerenciaElectrodomestico/nbproject/private/
/PolimorfismoFiguras/build/
/PolimorfismoFiguras/dist/